* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foto1 {
    width: 50%;
    /* Diminui para metade da largura da tela */
    max-width: 300px;
    /* Garante que não passe de 300px */

}

.foto2 {
    width: 50%;
    /* Diminui para metade da largura da tela */
    max-width: 300px;
    /* Garante que não passe de 300px */

}

.foto3 {
    width: 50%;
    /* Diminui para metade da largura da tela */
    max-width: 300px;
    /* Garante que não passe de 300px */

}

.foto4 {
    width: 50%;
    /* Diminui para metade da largura da tela */
    max-width: 300px;
    /* Garante que não passe de 300px */

}

.foto5 {
    width: 50%;
    /* Diminui para metade da largura da tela */
    max-width: 300px;
    /* Garante que não passe de 300px */

}

.video4 {
    max-width: 100%;
    /* O vídeo nunca fica maior que a tela */
    height: auto;
    /* Mantém a proporção correta */
    border-radius: 10px;
    /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    /* Sombra para destaque */
}




/* Estilo para o destaque */
.paragrafo {
  font-weight: bold;
  color: #0366d6; /* Azul do GitHub */
}


